@{
    ViewData["Title"] = "Pasajeros";

    var today = DateTime.Now;
    var pastMonth = today.AddMonths(-1);
}

<h1 class="SubTitle">Consulta sobre Pasajeros</h1>

<section class="row">
    <article class="col"></article>
        <article class="Card col-8">
            <form asp-action="Consulta">                  
                <div class="form-group row FirstItem">
                    <div class="col">
                        <label class="control-label" for="FechaInicial">Fecha Inicial</label>
                    </div>
                    <div class="col-10">
                        <input class="form-control" type="date" data-val="true" id="FechaInicial" name="FechaInicial" value=@pastMonth.ToString("yyyy-MM-dd") required>
                    </div>
                </div>
                <div class="form-group row FirstItem">
                    <div class="col">
                        <label class="control-label" for="FechaFinal">Fecha Final</label>
                    </div>
                    <div class="col-10">
                        <input class="form-control" type="date" data-val="true" id="FechaFinal" name="FechaFinal" value=@today.ToString("yyyy-MM-dd") required>
                    </div>
                </div>
                <div class="form-group row d-flex justify-content-center">
                    <input type="submit" value="Consultar" class="ActionButtom" />
                </div>
            </form>
        </article>
    <article class="col"></article>
</section>