@model AeropuertoCalidad.Models.Vuelo

@{
    ViewData["Title"] = "Crear Vuelo";
}

<head>
  <link rel="stylesheet" type="text/css" href="~/css/Interfaz.css">
</head>

<h1 class="SubTitle">Agregar Vuelo</h1>

<section class="row">
    <article class="col"></article>
    <article class="Card col-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row FirstItem">
                <div class="col">
                    Código Ruta
                </div>
                <div class="col-10">
                    <select asp-for="Codigoruta" class ="form-control" asp-items="ViewBag.Codigoruta"></select>
                </div>
            </div>
            <div class="form-group row Items">
                <div class="col">
                    <label asp-for="Fecha" class="control-label"></label>
                </div>
                <div class="col-10">
                    <input asp-for="Fecha" class="form-control" />
                    <span asp-validation-for="Fecha" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row Items">
                <div class="col">
                    Capacidad Real
                </div>
                <div class="col-10">
                    <input asp-for="Capacidadreal" class="form-control" />
                    <span asp-validation-for="Capacidadreal" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row d-flex justify-content-center">
                <input type="submit" value="Crear" class="ActionButtom" />
                <a asp-action="Index" class="BackButtom">Volver</a>
            </div>
        </form>
    </article>
    <article class="col"></article>
</section>