@model AeropuertoCalidad.Models.Vuelo

@{
    ViewData["Title"] = "Borrar Vuelo";
}

<h1>Borrar Vuelo</h1>

<div>
    <h6>¿Realmente desea borrar este vuelo?</h6>
    <hr />

    <dl class="row">
        <dt class = "col-sm-2">
            Ruta
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigorutaNavigation.Codigo)
        </dd class>
        <dt class = "col-sm-2">
            Fecha
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd class>
        <dt class = "col-sm-2">
            Capacidad Real
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacidadreal)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input hidden asp-for="Fecha" asp-for="Codigoruta"/>
        <input hidden asp-for="Fecha" value="@(ViewBag.FechaCorrecta)" />
        <input type="submit" value="Borrar" class="btn btn-danger" />
        <a asp-action="Index">Volver</a>
    </form>
</div>