@model AeropuertoCalidad.Models.Vuelo

@{
    ViewData["Title"] = "Detalle de Vuelo";
}

<head>
  <link rel="stylesheet" type="text/css" href="~/css/Interfaz.css">
</head>

<h1 class="SubTitle">Detalle de Vuelo</h1>

<section class="row">
    <article class="col"></article>
    <article class="Card col-6">
        <div class="row Items">
            <dt class = "col ValueName d-flex justify-content-end">
                Ruta
            </dt>
            <dd class = "col Value">
                @Html.DisplayFor(model => model.CodigorutaNavigation.Codigo)
            </dd>
        </div>
        <div class="row Items">
            <dt class = "col ValueName d-flex justify-content-end">
                Fecha
            </dt>
            <dd class = "col Value">
                @Html.DisplayFor(model => model.Fecha)
            </dd>
        </div>
        <div class="row Items">
            <dt class = "col ValueName d-flex justify-content-end">
                Capacidad Real
            </dt>
            <dd class = "col Value">
                @Html.DisplayFor(model => model.Capacidadreal)
            </dd>
        </div>
        <div class="row d-flex justify-content-center">
            @Html.ActionLink("Editar", "Edit", new { ruta = ViewBag.ruta, fecha = ViewBag.fecha }, new {@class="ActionButtom"})
            <a asp-action="Index" class="BackButtom">Volver</a>
        </div>
    </article>
    <article class="col"></article>
</section>