@model AeropuertoCalidad.Models.Vuelo

@{
    ViewData["Title"] = "Editar Vuelo";
}

<head>
  <link rel="stylesheet" type="text/css" href="~/css/Interfaz.css">
</head>

<h1 class="SubTitle">Editar Vuelo</h1>

<section class="row">
    <article class="col"></article>
    <article class="Card col-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row FirstItem">
                <input type="hidden" asp-for="Codigoruta" />
                <input type="hidden" asp-for="Fecha" value="@(ViewBag.FechaCorrecta)"/>
                <div class="col">
                    Capacidad Real
                </div>
                <div class="col-10">
                    <input asp-for="Capacidadreal" class="form-control" />
                    <span asp-validation-for="Capacidadreal" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row d-flex justify-content-center">
                <input type="submit" value="Actualizar" class="ActionButtom" />
                <a asp-action="Index" class="BackButtom">Volver</a>
            </div>
        </form>
    </article>
    <article class="col"></article>
</section>