@model AeropuertoCalidad.Models.Ruta

@{
    ViewData["Title"] = "Editar Ruta";
}

<head>
  <link rel="stylesheet" type="text/css" href="~/css/Interfaz.css">
</head>

<h1 class="SubTitle">Editar Ruta</h1>

<section class="row">
    <article class="col"></article>
    <article class="Card col-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Codigo" />
            <div class="form-group row FirstItem">
                <div class="col Label">
                    <label asp-for="Empresa" class="control-label"></label>
                </div>
                <div class="col-10">
                    <input asp-for="Empresa" class="form-control" />
                    <span asp-validation-for="Empresa" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row Items">
                <div class="col Label">
                    <label asp-for="Hora" class="control-label"></label>
                </div>
                <div class="col-10">
                    <input asp-for="Hora" class="form-control" />
                    <span asp-validation-for="Hora" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row Items">
                <div class="col Label">
                    <label asp-for="Estado" class="control-label">Entra al país</label>
                </div>
                <div class="col-10">
                    <input asp-for="Estado" class="form-control" />
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row Items">
                <div class="col Label">
                    <label asp-for="Lugar" class="control-label"></label>
                </div>
                <div class="col-10">
                    <input asp-for="Lugar" class="form-control" />
                    <span asp-validation-for="Lugar" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row Items">
                <div class="col Label">
                    Capacidad Máxima
                </div>
                <div class="col-10">
                    <input asp-for="Capacidadmaxima" class="form-control" />
                    <span asp-validation-for="Capacidadmaxima" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row Items">
                <div class="col Label">
                    Aeropuerto
                </div>
                <div class="col-10">
                    <select asp-for="Codigoaeropuerto" class="form-control" asp-items="ViewBag.Codigoaeropuerto"></select>
                    <span asp-validation-for="Codigoaeropuerto" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row d-flex justify-content-center">
                <input type="submit" value="Actualizar" class="ActionButtom" />
                <a asp-action="Index" class="BackButtom">Volver</a>
            </div>
        </form>
    </article>
    <article class="col"></article>
</section>